.a {
    border: 2px;
    border-radius: 10px;
    width: 260px;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.53);
}
.box {           
    height: 24px;
    width: 250px;
    border-radius: 5px;
    border: 2px solid rgba(255, 255, 255, 0.678);
    padding-bottom: 2px;
}
.b{
    text-align: left;
    text-decoration: black;
    font-style: italic;
    font-size: 20px;
}
h1{
    padding: 15px;
}
.ll{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image:url("i.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-image: cover;
}
.A{
    color: black;
    font-size: 18px;
    font-style: italic;
    
}
.B{
    color: red;
}